/* Globle rules */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --main-color: #19c8fa;
  --transparent-color: rgb(15 116 143 / 70%);
  --paragraph-color: #777;
  --section-padding: 100px;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style: none;
}

.contaniner {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.spacial-header {
  padding: 100px;
  text-align: center;
}
.spacial-header h2 {
  position: relative;
  font-weight: normal;
  font-size: 40px;
  margin-bottom: 80px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .spacial-header h2 {
    position: relative;
    font-weight: normal;
    font-size: 30px;
    margin-bottom: 80px;
    text-transform: uppercase;
  }
  .spacial-header p {
    font-size: 15px;
  }
}
.spacial-header h2::before {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 2px;
  background-color: black;
  width: 140px;
}
.spacial-header h2::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
  bottom: -36px;
  background: white;
  left: 50%;
  transform: translate(-50%, 10%);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.spacial-header p {
  width: 550px;
  margin: 0 auto 100px;
  color: var(--paragraph-color);
  line-height: 2;
  max-width: 100%;
}
@media (min-width: 768px) {
  .contaniner {
    width: 750px;
  }
}
@media ((min-width: 992px)) {
  .contaniner {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .contaniner {
    width: 1170px;
  }
}
/* End global rules */
header {
  margin-top: 10px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 2;
}
header .contaniner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 97px;
}

header .contaniner::before {
  content: "";
  position: absolute;
  height: 1px;
  width: calc(100% - 30px);
  background-color: #a2a2a2;
  bottom: 0;
}

header .contaniner a .logo image {
  height: 40px;
}

header .contaniner nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header .contaniner nav ul {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 40px;
  color: white;
}
header .contaniner nav .toggle-menu {
  color: white;
  margin-right: 23px;
  font-size: 22px;
}

@media (min-width: 768px) {
  header .contaniner nav .toggle-menu {
    display: none;
  }
}
@media (max-width: 767px) {
  header .contaniner nav ul {
    display: none;
  }
  header .contaniner nav .toggle-menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    background-color: rgb(0 0 0 / 70%);
  }
  header .contaniner nav .toggle-menu:hover + ul li {
    padding: 15px;
  }
}
header .contaniner nav ul li {
  position: relative;
  z-index: 2;
  margin-left: 15px;
  padding: 40px 10px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
header .contaniner nav ul .select,
header .contaniner nav ul li:hover {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}

header .contaniner nav .icon i {
  position: relative;
  font-size: 25px;
  right: 0;
  color: white;
  margin-top: 35px;
}
@media (max-width: 767px) {
  header .contaniner nav .icon i {
    margin-top: 0;
  }
}

header .contaniner nav .icon i::after {
  content: "";
  position: absolute;
  height: 150%;
  width: 1px;
  /* margin-top: -2.5%; */
  right: 40px;
  background-color: #a2a2a2;
}
/* End header */

.landing {
  min-height: 100vh;
  background-image: url(../images/landing.jpg);
  background-size: cover;
  position: relative;
}
.landing .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgb(0 0 0 / 60%);
}
.landing .text {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  padding: 50px;
  background-color: var(--transparent-color);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
@media (max-width: 767px) {
  .landing .text {
    width: 100%;
  }
}

.landing .text .contant {
  display: flex;
  max-width: 400px;
  flex-direction: column;
  justify-content: flex-end;
}
@media (max-width: 767px) {
  .landing .text {
    width: 100%;
    justify-content: center;
  }
  .landing .text .contant {
    width: 100%;
  }
}
.landing .text .contant h2 {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 20px;
}
.landing .text .contant p {
  font-size: 14px;
  line-height: 2;
}
.landing .change-background {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  color: #ddd;
}
@media (max-width: 767px) {
  .landing .change-background {
    display: none;
  }
}

.landing .fa-angle-left {
  left: 30px;
}
.landing .fa-angle-right {
  right: 30px;
}
.landing .switchpage {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  bottom: 30px;
  display: flex;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.landing .switchpage span {
  height: 20px;
  width: 20px;
  border: 1px solid white;
  border-radius: 50%;
  margin-left: 9px;
}
.landing .switchpage .active {
  background-color: var(--main-color);
  border-color: white;
}
/* End landing */
/* start Services */
.Services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
@media (min-width: 767px) {
  .Services .Services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 70px;
  }
}

.Services .Services-content .col {
  display: flex;
}

.Services .Services-content .col i {
  margin-right: 50px;
}
@media (max-width: 767px) {
  .Services .Services-content .col {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
  }
  .Services .Services-content .col i {
    margin: 0 0 40px;
  }
  .Services .spacial-header {
    padding: 0;
  }
}
.Services .Services-content .col .text h3 {
  margin-bottom: 30px;
  color: var(--main-color);
}
.Services .Services-content .col .text p {
  color: var(--paragraph-color);
  line-height: 2;
}

/* snd Services */
/*  start desgin  */
.desgin {
  padding-bottom: var(--section-padding);
  padding-top: var(--section-padding);
  min-height: 600px;
  background-image: url(../images/design-features.jpg);
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.desgin::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgb(0 0 0 / 60%);
}
.desgin .text,
.desgin .imge {
  position: relative;
  z-index: 2;
  flex: 1;
}
.desgin .imge {
  text-align: center;
}
.desgin .imge img {
  position: relative;
  bottom: -150px;
}
@media (max-width: 767px) {
  .desgin .imge img {
    display: none;
  }
}
.desgin .text {
  color: white;
  padding: 50px;
  background-color: var(--transparent-color);
}
@media (max-width: 767px) {
  .desgin .text {
    flex: none;
    width: 100%;
  }
}
.desgin .text h2 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.desgin .text ul li {
  font-weight: normal;
  /* text-transform: uppercase; */
  margin-bottom: 40px;
  padding: 0 30px;
}
.desgin .text ul li::before {
  position: absolute;
  content: "\f108";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-left: -28px;
}
/*  End desgin  */
/* Start portfile */
.Portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.Portfolio .shuffle {
  display: flex;
  justify-content: center;
}
.Portfolio .shuffle li {
  padding: 10px;
  margin-bottom: 35px;
}
.Portfolio .shuffle .active {
  color: white;
  background-color: var(--main-color);
}
.Portfolio .Portfolio-img {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 992px) {
  .Portfolio .Portfolio-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .Portfolio .Portfolio-img {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.Portfolio .Portfolio-img .photo-box {
  position: relative;
  overflow: hidden;
}
.Portfolio .Portfolio-img .photo-box .caption {
  position: absolute;
  bottom: -100%;
  z-index: 2;
  background-color: white;
  width: 100%;
  padding: 20px;
  color: black;
  transition: 0.3s;
}
.Portfolio .Portfolio-img .photo-box:hover .caption {
  bottom: 0;
}
.Portfolio .Portfolio-img .photo-box:hover .caption h3 {
  color: var(--main-color);
}
.Portfolio .Portfolio-img .photo-box:hover img {
  transform: rotate(3deg) scale(1.1);
  -webkit-transform: rotate(3deg) scale(1.1);
  -moz-transform: rotate(3deg) scale(1.1);
  -ms-transform: rotate(3deg) scale(1.1);
  -o-transform: rotate(3deg) scale(1.1);
}

.Portfolio .Portfolio-img .photo-box img {
  max-width: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.Portfolio .more {
  display: inline-block;
  margin-left: 50%;
  color: white;
  background-color: var(--main-color);
  margin-top: 50px;
  text-decoration: none;
  padding: 15px;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
}
/* End portfile */
/* start video-section */
.video-section {
  position: relative;
}
.video-section .video {
  width: 100%;
}
.video-section::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgb(0 0 0 / 40%);
}
.video-section .text {
  position: absolute;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  background-color: var(--transparent-color);
  align-items: center;
  top: 50%;
  padding: 30px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.video-section .text h2 {
  margin: 0 0 15px;
  font-weight: normal;
}
.video-section .text p {
  margin-bottom: 15px;
  font-weight: normal;
}
.video-section .text button {
  padding: 15px;
  background: black;
  color: white;
  border: none;
  margin-top: 14px;
  font-weight: normal;
  text-transform: uppercase;
}
/* End video-section */
/* start About */
.About {
  padding-top: var(--section-padding);
  text-align: center;
  overflow: hidden;
}
.About img {
  position: relative;
  bottom: -120px;
  margin-top: -120px;
  max-width: 100%;
}
@media (max-width: 767px) {
  .About img {
    bottom: -80px;
    margin-top: -600px;
    width: 500px;
  }
}
/* End About */

/*start stat  */
.stat {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url(../images/stats.png);
  background-size: cover;
}
.stat .contaniner {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  background-color: var(--transparent-color);
}
.stat .contaniner .box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  color: white;
  padding: 50px;
}
.stat .contaniner .box i {
  margin-bottom: 30px;
  position: relative;
  z-index: 1;
}

.stat .contaniner .box i::after {
  position: absolute;
  content: "";
  z-index: -1;
  height: 50px;
  width: 50px;
  background-color: black;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.stat .contaniner .box h2 {
  margin-bottom: 10px;
  font-size: 50px;
  font-weight: bold;
}
.stat .contaniner .box p {
  margin-bottom: 10px;
}

@media (min-width: 767px) {
  .stat .contaniner .box {
    flex-basis: 50%;
  }
}
@media (min-width: 992px) {
  .stat .contaniner .box {
    flex-basis: 25%;
  }
}
@media (max-width: 767px) {
  .stat .contaniner {
    flex-direction: column;
    /* flex-wrap: wrap; */
  }
  .stat .contaniner .box:not(:last-child) {
    margin-bottom: 40px;
  }
}
/*End stat  */
/*start Testimonials-Skills */
.Testimonials-Skills {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.Testimonials-Skills .contaniner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (min-width: 992px) {
  .Testimonials-Skills .contaniner > div {
    flex-basis: 45%;
  }
}
.Testimonials-Skills .contaniner > div > h3 {
  font-weight: normal;
  margin: 0 0 30px;
  text-align: center;
  text-transform: uppercase;
}
.Testimonials-Skills .contaniner > div > p {
  margin: 0 0 30px;
  text-align: center;
  color: var(--paragraph-color);
  line-height: 1.5;
  margin-bottom: 60px;
}
.Testimonials-Skills .contaniner .Testimonials .contant {
  display: flex;
  margin-bottom: 30px;
  align-items: center;

}
.Testimonials-Skills .contaniner .Testimonials .contant img {
  width: 100px;
  border-radius: 50%;
  margin-right: 60px;
}
@media (max-width: 767px) {
  .Testimonials-Skills .contaniner .Testimonials .contant {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    text-align: center;
  }
  .Testimonials-Skills .contaniner .Testimonials .contant img {
    margin: 0 auto 20px;
  }
}
.Testimonials-Skills .contaniner .Testimonials .contant .text {
  line-height: 1.8;
  position: relative;
  height: 120px;
  border-bottom: 1px solid #CCC;
}
.Testimonials-Skills .contaniner .Testimonials .contant .text p {
 text-align: right;
  color: var(--paragraph-color);
  font-size: 14px;
  margin-bottom: 15px;
}
.Testimonials .bubles{
  height: 100px;
  display: flex
;
  justify-content: center;
  align-items: center;
}
.Testimonials .bubles ul{
  display: flex
  ;
      flex-direction: row;}
.Testimonials .bubles ul li{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 1px solid var(--paragraph-color);

}
.Testimonials .bubles ul .active{
  background-color: var(--main-color);
  border-color: var(--main-color);
  margin: 0 10px 0 10px;
}
.Skills .content .prog-holder{
  margin-bottom: 40px;
}
.Skills .content .prog-holder h4{
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.Skills .content .prog-holder .prog{
height: 30px;
background-color: #dedadc;
}

.Skills .content span {
  position: relative;
  display: block;
  height: 30px;
  background-color: var(--main-color);
}
.Skills .content span::before {
    content: attr(data-progress);
    position: absolute;
    background-color: black;
    color: white;
    top: -33px;
    right: -14px;
    width: 40px;
    padding: 3px 0;
    text-align: center;
    border-radius: 4px;
}
.Skills .content span::after {
  position: absolute;
    content: '';
    border: 10px solid;
    border-color: black #00800000 #0000ff00 #ff000000;
    top: -10px;
    right: -8px;
}

/*End Testimonials-Skills */
